a.btn-reg{
    color: #3e63dd;
    font-weight: 400;
}

a.btn-reg:hover{
    color: #324eac;
}

tr:nth-child(even) {
    background: #F2F2F2;
}

tr:nth-child(odd) {
    background: #FFF;
}

th, td {
    padding-left: 1rem;
    padding-right: 1rem;
}

