:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  max-width: 1280px;
  margin: 0 auto;
  color-scheme: light dark;
  background-color: #f8f8f8;
  padding: 0pt 20pt;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html {
  background: url("bg.jpg") center/cover no-repeat;
  position: relative;
  min-height: 100%;
  
}

body {
  margin: 0pt 0pt;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}


footer {
  position: absolute;
  bottom: 25px;
  height: 0;
}

